CLIENT_GATEWAY_PORT=3000


# Payments Microservice
PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=sk_test_51Q2lmuIzBHX6gbNOGQi8ZtxOuwUnpKNoA3NRODYhXl0LhIPcrq52FLgHLRHfDVa3GBjQCiypAuL6Z94hmhsSHc99003mpcyScR ## Siempre cambia

SUCCESS_URL=http://localhost:3003/payments/success
CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1Qm3hYIzBHX6gbNOPLFAPGGl signing secret to the webhook
STRIPE_ENDPOINT_SECRET=

# Auth Microservice
AUTH_MS_PORT=3004
AUTH_DATABASE_URL=mongodb+srv://*****:*****@auth-microservice-datab.xcz2w.mongodb.net/AuthDB
JWT_SECRET=OIASDUIOFHSOAIJDOAISMDASD123123
EXPIRES_JWT_IN=2h

# Orders Microservice
ORDERS_DATABASE_URL=postgresql://neondb_owner:npg_oXdbJRyHM2S1@ep-dry-art-a8jrfxd1-pooler.eastus2.azure.neon.tech/neondb?sslmode=require